/* app/globals.css */

/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #000; /* default background */
  color: #fff; /* default text color */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
